
.contentButton {
    position: relative;
    color: var(--third-color);
    float: right;
    display: flex;
    gap: 12px;
}

.contentButton button {
    cursor: pointer;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.25rem;
}

.contentButton button:hover {
    background-color: var(--blackA5);
}

.stopButton {
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--blackA11);
    cursor: pointer;
}
